@{
    ViewBag.Title = "Home Page";
}

<div >
   <img src="~/Content/crms.jpg" width=100% height="500px"/>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>CMRS</h2>
        <p>
           Crime Management and reporting system is an online system created to replace the manaul process of crime management and reporting.
            Built using the ASP.NET MVC Framework and tailored to meet the needs of the involved parties.
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Report Progress</a></p>
    </div>
    
</div>